---
import Main from "@/layouts/Main.astro";
import Card from "@/components/ui/Card.astro";

const contactData = [
  {
    title: "email",
    links: [
      {
        label: "work@alex-xo.com",
        link: "mailto:work@alex-xo.com",
      },
    ],
  },
  {
    title: "code",
    links: [
      {
        label: "GitHub",
        link: "https://github.com/alx-xo",
      },
    ],
  },
  {
    title: "socials",
    links: [
      {
        label: "BlueSky",
        link: "https://bsky.app/profile/alex-xo.com",
      },
    ],
  },
];
---

<Main
  page={{
    title: "contact ・ alex-xo",
    navActive: "contact",
  }}
>
  <div class="flex justify-center items-center w-full min-h-[calc(100dvh-82px)] px-6">
    <Card title="contact">
      <p class="text-base font-medium">
        Always interested in discussing new projects. Available for full-time roles or contract
        work.
      </p>

      <ul class="list-none space-y-4">
        {
          contactData.map(({ title, links }) => (
            <li class="space-y-1">
              <h2 class="text-lg font-black italic">{title}</h2>
              {links.map(({ label, link }) => (
                <p class="text-base font-medium mx-2">
                  <a href={link} class="underline underline-offset-2">
                    {label}
                  </a>
                </p>
              ))}
            </li>
          ))
        }
      </ul>
    </Card>
  </div>
</Main>
