---
const { title } = Astro.props;
const maxWidth = Astro.props.maxWidth || "max-w-md";
---

<div class:list={`flex flex-col ${maxWidth} pr-2`}>
  {title && <h1 class="text-base font-black italic text-secondary mb-1">{title}</h1>}

  <div class="flex flex-col p-8 bg-card shadow-card gap-4 text-primary">
    <slot />
  </div>
</div>
